.header {
  /* border: 1px solid red; */
}

.title {
  align-self: center;
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
  text-align: center;
  margin-bottom: 50px;
  color: #346421;
}

.subtitle {
  margin-bottom: 250px;
  color: #346421;
  align-self: center;
  margin: 0;
  text-align: center;
}

.resultcontainer {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 300px;
  width: 850px;
}

.result {
  line-height: 96px;
  font-size: 55px;
  font-weight: 600;
  z-index: 1;
  text-align: start;
  margin-bottom: 50px;
}

.sprite {
  margin-left: 10px;
  width: 250px;
  height: 250px;
  justify-self: center;
  display: none;
}

.sprite_visible {
  display: block;
}

.pokepage {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b8ba8c;
  font-family: Pixel, Arial, sans-serif;
  border: 10px solid #346424;
  box-sizing: border-box;
  height: 100vh;
}

.pokeball {
  margin-top: 30px;
  position: relative;
  justify-self: center;
  width: 250px;
  height: 250px;
  background-image: url(./pngaaa.com-96218.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pokebutton {
  position: absolute;
  left: 86px;
  top: 140.5px;
  width: 50px;
  min-height: 55px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.pokebutton:hover {
  cursor: pointer;
  opacity: 0.9;
}

@font-face {
  font-family: Pixel;
  src: url(../../../../Pixellari.ttf);
}

@import url('./normalize.css');
